<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="MaxNumberOfIteration" value="10" />
    <add key="MaxDurationInMinutess" value="90" />
    <add key="MaxScale" value="16777216" />
  </appSettings>
</configuration>
